
@import url('https://fonts.googleapis.com/css?? family=Poppins: wght@300; 400; 500; 600&display=swap');

:root {
    --color-main: #1a202e;
}

* {
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}



#sidebar-toggle {
    display: none;
}


.body-label {
    position: fixed;
    height: 100%;
    width: calc(100% - 280px);
    z-index: 30;
    right: -100%;
    top: 0;
}

#sidebar-toggle:checked ~ .sidebar {
left: -100%;
}
#sidebar-toggle:checked ~ .main-content header {
    left: 0;
    width: 100%;
    right: 0;
}
#sidebar-toggle:checked ~ .main-content {
    margin-left: 0;
}


.dropdown a {
    flex-grow: 1;
}




.sidebar {
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    background-color: #ffffff;
    color: #2e2e2e;
    padding: 1rem 1.5rem;
    position: fixed;
    z-index: 20;
    transition: left 300ms;
}

.sidebar a {
    text-decoration: none;
    color: rgb(32, 32, 32);
    padding: 2px;
    display: flex;
    border-radius: 7px;
    margin-bottom: 2px;
    cursor: pointer;
    justify-content: space-between;
    align-items:safe;
}
.sidebar a:hover {
    background-color: #dfdfdf;
    color: #5619ff;
    border-radius: 5px;
    font-weight: bold;
}

.dropdown-content {
    font-size: 92%;
    display: none;
    background-color: #f8f7f7;;
    border-radius: 5px;
    margin-left: 10px;
}
.dropdown-content a {
    padding: 5px;
    margin: 0;
}
 
.dropdown-content a:hover {
    background-color: #dfdfdf;
    color: #252525;
    border-radius: 5px;
    font-weight: bold;
}

.sidebar-brand {  
    height: 70px;
}


.brand-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-flex h4{
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: .3rem;
}

.brand-icons span {
    font-size: 1.5rem;
    margin-left: .5rem;
    }

.sidebar-user div a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-menu {
    margin-top: 3rem;
    border-width: 3rem;
}


.image-cont{
    display: flex;
    padding: .5rem;
    font-size: .85rem;
    color: #444;
    font-weight: 500;
}




.image-cont img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.image-cont span img {
    margin-right: .5rem;

}

.sidebar-dev div i{
    margin-top: .4rem;
    margin-left: 2rem;
    font-size: x-large;
    justify-content: space-between;
    display: flex;

}

.sidebar-dev{
    padding-top: 100%;
    border-width: 3rem;

    
}
.sidebar-dev a {
    margin-bottom: .5rem;
    justify-content: space-between;
    align-items: center;

}





header {
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 1rem 1.5rem;
    position: fixed;
    left: 280px;
    width: calc(100% - 280px);
    top: 0;
    z-index: 20;
    background: #fff;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    transition: left 300ms;
}

.menu-toggle label { 
    height: 60px; 
    width: 60px; 
    display: grid;
    place-items: center; 
    font-size: 1.5rem;
    border-radius: 50%;
}

.header-icons span {
    display: inline-block;
    margin: .7rem;
    font-size: 1.4rem;
}

.menu-toggle label:hover {
background: #efefef;
}

.main-content {
    margin-left: 280px;
    transition: margin-left 300ms;
}
main {
    padding: 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
}


.page-header {
    display: flex;
    justify-content: space-between; 
    
}

.header-actions button {
    outline: none; 
    color: #ffffff;
    background: #5850ec; 
    padding: .7rem 1rem; 
    margin-left: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;

}
.header-actions button:hover { 
    background: #ffffff;
    padding: .7rem 1rem 1rem;
    color: #2b2b2b;
    border-radius: 30px;
}
.header-actions button span { 
    font-size: 1.2rem;
    margin-right: .6rem;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 3rem;
    margin-top: 2rem;
}
.card-single {
    background: #fff;
    padding: 1rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    border-radius: 7px;
}
.card-flex{
    display: grid;
    grid-template-columns: 98% auto; 
    align-items: right;
}


.card-head span { 
    display: block;
    text-transform: uppercase; 
    color: #5850ec;
    font-size: 1.5rem; 
}



.card-head small {
    font-weight: 600;
    color: #555;
}
.card-info h2 {
    font-size: 2.2rem; 
    color: #333;
}


.card-small-danger {
    color: red;
}
.card-small-success {
    color: green;
}
.card-icon {
    color: #8da2fb;
    font-size: .75rem; 
    font-weight: 500;
}


.jobs-grid {
    margin-top: 3rem;
    display: grid;
    grid-gap: 3rem;

}

.analytics-card { 
    background: #fff; 
    padding: 1.5rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.analytics-head {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.analytics-head h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.analytics-head span { 
    font-size: 1.5rem;
    text-align: left;
    display: block;
}

.analytics-chart {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto 40%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 20px;
}

.job-grid {
    margin-top: 3rem;
    grid-gap: 1rem;
    display: flex;
    justify-content: space-between;
    
}
.chart-box {
    padding: 1rem;
    grid-gap: 1rem;
    display: grid;
}

.chart-text {
    grid-gap: .55rem;
    display: grid;
}

.chart-num {
    grid-gap: .55rem;
    display: grid;
    padding-left: 20%;

}
.a {
    color: #e8e7ff;
}
.b{
    color: #827bff; 
}
.c{
    
    color: #3d33ff; 
}
.d {
    color: hsl(242, 100%, 86%);
}


.analytics-note small {
    font-weight: 600;
    color: #555;
    display: block;
    padding-bottom: 3px;
}

.analytics-note a{
    height: 50px;
    width: 200px;
}
.analytics-note p {
    font-weight: 700;
    font-size: larger;
    color: #7752ff;
    margin-top: 3px;
    text-align: left;
}

.chart-circle {
    height: 250px;
    width: 250px;
    margin-top: 2rem;
    border-left: 40px solid #e8e7ff;
    border-right: 40px solid #827bff; 
    border-bottom: 40px solid #3d33ff; 
    border-top: 40px solid hsl(242, 100%, 86%); 
    display: grid;
    place-items: center;
    border-radius: 50%;

}

.analytics-card button { 
    display: block;
    padding: .6rem 1rem; 
    width: 100%;
    height: 35px;
    background: #fbfbfd; 
    color: #3f3f3f;
    border: 1.5px solid #d3d2e0; 
    border-radius: 6px;
    font-size: small;
    font-weight: 600;
}

.jobs {
    background: #ffffff;
    padding: .5rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.table-grid div h2{
    text-align: left;
    background: #ffffff;
}
.jobs h2 {
    display: inline-block; 
    color: #0e0e0e;
    padding-bottom: .7rem;
}

.jobs h2 small {
    background: #ffffff;
    color: #7c58ff; 
    font-weight: 600;
    display: inline-block; 
    margin-left: 40rem;
    padding-top: 6px;
    font-size: .9rem;
}
.jobs small {
    background: #ffffff;
    padding-left: 1.4rem;
}
.jobs h5 {
    background: #ffffff;
}

.jobs table {
    border-collapse: collapse;
    overflow-x: auto;
}


.table-head {
    background: #505050;
    
}

.jobs table td div {
    background: #ffffff;
    margin-bottom: .15rem;
    height: 60px;
    display: flex;
    padding: .5rem;
    font-size: .85rem;
    color: #444;
    font-weight: 500;
}

.jobs table td div span{
    font-size: 1rem; 
    padding-right: 1rem;
}



.job {
    background: #ffffff;
    padding: .5rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.table-grid div h2{
    text-align: left;
    background: #ffffff;
}
.job h2 {
    display: inline-block; 
    color: #0e0e0e;
    padding-bottom: .7rem;
}

.job h2 small {
    color: #7c58ff; 
    font-weight: 600;
    display: inline-block; 
    margin-left: 100px;
    padding-left: 2rem;
    padding-top: 2px;
    font-size: .9rem;
}

.job h5 {
    background: #ffffff;
}

.job table {
    border-collapse: collapse;
    overflow-x: auto;
}


span.indicator {
    background: orangered; 
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
span.indicator.even {
    background:royalblue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.tt{
    font-weight: 400;
    text-align: right;
}   
.ttt{
    color: #7752ff;
    font-weight: 700;

}
.table-head {
    background: #505050;
    
}

.job table td div {
    background: #ffffff;
    margin-bottom: .15rem;
    height: 60px;
    display: flex;
    align-items: center;
    padding: .5rem;
    font-size: .85rem;
    color: #444;
    font-weight: 500;
}

.job table td div span{
    font-size: 1rem; 
    padding-right: 1rem;
}



.table-grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto 35%;
    grid-gap: 1rem;
}



.verified {
    background: #d2f5e6; 
    color: rgb(20, 119, 0);
    border: 1px solid #d2f5e6; 
    padding: .3rem .6rem .3rem .6rem;
    border-radius: 8px;
    font-weight: 600;
}
.requested {
    background: #ffd3d3; 
    color: rgb(177, 29, 3);
    border: 1px solid #ffd3d3; 
    padding: .3rem .6rem .3rem .6rem;
    border-radius: 8px;
    font-weight: 600;
}

.churned {
    background: #d3d0ff; 
    color: rgb(57, 0, 189);
    border: 1px solid #d3d0ff; 
    padding: .3rem .6rem .3rem .6rem;
    border-radius: 8px;
    font-weight: 600;
}
.action-butt{
    outline: none; 
    color: #272727;
    background: #dedee4; 
    padding: .2rem .2rem .2rem; 
    font-size: large;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}

.main-content header div span img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.table-grid table tr td div span img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: .4rem;
}

.table-responsive {
    overflow: auto;
}
.table-grid {
    overflow: auto;
}

.sidebar {
    overflow: auto;
}

@media only screen and (max-width: 1124px) { 
    .sidebar {
        left: -100%;
        z-index: 30;
    }
    
    .main-content {
        margin-left: 0;
    }
    header {
        left: 0;
        width: 100%;
    }

    #sidebar-toggle:checked ~ .sidebar {
        left: 0;
    }
    #sidebar-toggle:checked ~ .body-label {
        right: 0;
    }
    
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media only screen and (max-width: 768px) { 
    .cards {
        grid-template-columns: 100%;
    }

    .table-grid {
        grid-template-columns: 100%;
    }
    

    .page-header {
        display: block;
    }

    .analytics-chart {
        display: block;
        margin-left: 0rem;
    }
    .chart-num h3 {
        display: block;
    }


    .header-action {
        margin-top: 1rem;
        text-align: right;
    }

    .header-action button:first-child {
        margin-left: 0rem;
    }

    
}







